<%= render "shared/breadcrumb", page: @page %>

<h3 class="text-center "><%= t('inscription.disponibility1') %></h3>
<p class="text-center margin-bottom-medium"><%= t('inscription.disponibility2') %></p>

<%= content_tag 'div', class: "data-for-js", data: {address: @address || "Bordeaux", geocoded: @address_geocoded || [48.856614,  2.3522219]} do %>
<% end %>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="map-wrapper">
        <input id="pac-input" class="controls" type="text" placeholder="Entrer une adresse">
        <div id="map">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="report">
          <h4 class="margin-bottom-medium underline">Adresse de l'habitation concernée</h4>
          <h4 id="address"><strong><%= params[:query][:address] %></strong></h4>
          <h4 class="margin-bottom-medium underline">Choisissez le(s) jour(s) d'intervention:</h4>



        <%= @days.each do |date| %>
          <div class="date-day"><%= date.day %></div>
          <div class="cell-content">
            <div class="btn-container">
                <% hours = [8, 14] %>
                <div class="btn-calendar btn-calendar-tobook">
                  <%= Availability.where(date: Time.new(date.year, date.month, date.day, hours[0], 0, 0, 0)).first %>
                </div>
                <div class="btn-calendar btn-calendar-tobook">
                  <%= Availability.where(date: Time.new(date.year, date.month, date.day, hours[1], 0, 0, 0)).first %>
                </div>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>
